body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  color: #f2f2f2;
}

li {
  list-style-type: none;
}

.wrapper {
  height: 100vh;
}

.main {
  height: 100%;
  background: linear-gradient(#1c1c4a, #10101d, #05051a);
  padding: 20px 20px 0 20px;
  display: grid;
  grid-template: 1fr 30px / 1fr;
  grid-row-gap: 15px;
  grid-template-areas: "list" "footer";
}

.main .footer {
  grid-area: footer;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  justify-items: center;
}

.main .footer .button_load {
  grid-column: 2/2;
  height: 30px;
  width: 140px;
  background-color: #10101d;
  box-shadow: none;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #f2f2f2;
  opacity: 0.7;
}

.main .footer .button_load:hover {
  opacity: 1;
}

.card_list {
  grid-area: list;
  display: grid;
  grid-template: repeat(auto-fill, minmax(auto, 220px))/repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}

.card_item {
  background: #4f4f70;
  background: radial-gradient(circle, #05051a 0%, #10101d 100%);
  box-shadow: 0 14px 28px #10101d, 0 10px 10px #10101d;
  display: grid;
  grid-template: minmax(auto, 160px) 60px/1fr;
}

.card_item .card_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  overflow: hidden;
}

.card_item .card_item_elems {
  background-color: #05051a;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom: 0;
}

.card_item .card_item_elems .card_item-user {
  text-align: end;
}

